:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --gris-meguta: #F1F1F1;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: var(--hospital-green);
    height:65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav button{
     background-color: var(--hospital-green);
    border-color: var(--white);
    color: var(--white);
    cursor: pointer;
    border-radius: 10px;
    margin-left: 10px;
    height: 40px;
    padding: 0 10px; 
    font-weight: bold;

}

nav ul{
    width: 30%;
    list-style: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
    align-items: center;
}